{% extends "layout.html" %}

{% block title %}Add Book{% endblock %}
{% block content %}

<form action="" method = "POST">

  <div class="form-group">

      <br><thead><h3>ISSUE BOOK</h3></thead>
      <hr  class="my-2"><br>


      <div class="form-row">
      <div class="form-group col-md-12">
          <label>Member Name</label>
          <select name="member_id" class="form-control" searchable="Search here.." required>
              <option value="" disabled selected>Member Name</option>
              {% for member in all_members%}
              <option value="{{member.id}}">{{member.member_fname}} {{member.member_lname}}</option>
              {% endfor %}
          </select><br>

          <label>Book Name</label>
          <select id="book_name" name="title_id" class="form-control" searchable="Search here.." required>
              <option value="" disabled selected>Book Name</option>
              {% for book in books%}
              <option value="{{book.id}}">{{book.title}}</option>
              {% endfor %}
          </select>
      </div>
      </div>

      <div>
          <br>
          <a href="#"> <input type="Submit" value="Issue" class="btn btn-outline-primary btn-sm"></a>
          <a href="/" type="button" class="btn btn-outline-secondary btn-sm">Cancel</a>
      </div><br>
      <div>
              <small class="form-text text-muted">NOTE: Members will be charged Rs.100/day from the date of issue.</small>
      </div>
  </div>


</form>

{% endblock %}
